Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|test)/'
CheckOptions:
  - key: modernize-use-trailing-return-type.IgnoreMacros
    value: 'true'
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i;j;it'

